# Animated Portable Network Graphics

*.apng


# Multiple-image Network Graphics

*.mng


# Tagged Image File Format

*.tiff

*.tif


# Portable Document Format

*.pdf


# X BitMap

*.xbm


# BMP

*.bmp

*.dib


# ICO

*.ico


# 3D Images

*.3dm

*.max


### macOS ###
# General

.DS_Store

.AppleDouble

.LSOverride