:root {
    --primary-color: #FF5A60;
    --secundary-color: #D2EBF7;
    --black: #242424;
    --white: #f9f9f9;
    --small-font: 2rem;
    --medium-font: 3.3rem;
    --large-font: 4.3rem;
    --extra-large-font: 8rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    color: var(--white);
}
a {
    text-decoration: none;
    color: var(--white);
}
ul {
    list-style: none;
}
.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* mobile header */
nav {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: var(--primary-color);
}
nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
}
nav a:hover {
    background-color: #f15358;
}
nav a p:nth-child(3) {
    display: flex;
}

nav p {
    font-size: 1.7rem;
    text-align: center;
    
}
nav p .span-timer-container {
    margin: 0 12px;
    font-size: 2.6rem;
    font-weight: 700;
}
/* mobile hero */
.hero-background-image {
    width: 100%;
    height: 600px;
    background-image: url('images/hero-airbnb-conference-small.jpeg');
}
.hero-background-color {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(67, 67, 67, 0.9), rgba(61, 61, 61, 0.9), rgba(55, 55, 55, 0.9), rgba(49, 49, 49, 0.9), rgba(43, 43, 43, 0.9), rgba(38, 38, 38, 0.9), rgba(34, 34, 34, 0.9), rgba(29, 29, 29, 0.9), rgba(24, 24, 24, 0.9), rgba(18, 18, 18, 0.95), rgba(10, 10, 10, 0.99), rgba(0, 0, 0, 1));
}
.hero-background-color div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 89%;
    height: auto;
    margin-top: 180px;
    color: #434343
}

.hero-background-color img {
    display: block;
    width: 120px;
    height: 120px;
}
h1 {
    padding: 12px;
    font-size: 3rem;
    text-align: center;
    color: var(--white);
}
h1 span {
    color: var(--primary-color);
}
.hero-background-color div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 60px;
    margin: 28px auto 0px auto;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--primary-color);
    border-radius: 12px;
}
.down-arrow {
    display: block;
    width: 70px;
    height: 70px;
    margin-top: 60px;
    background-image: url("images/MingcuteDownLine.svg");
}
/* mobile main objections */
.course-main-objections {
    padding-top: 40px;
    display: grid;
    justify-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom, #000000, #0d0d0d, #161616, #1d1d1d, #242424);
}
.course-main-objections-title {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 75%;
}
.course-main-objections-title h2 {
    font-size: 4rem;
}
.course-main-objections-title p {
    margin: 40px 0 40px 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.7;
}
/* mobile course-main-objections-content */
.course-main-objections-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-self: center;
    gap: 24px;
    width: 80%;
}
.main-objections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}
.main-objections-icon {
    display: block;
    width: 120px;
    height: 120px;
}
.no-home-icon {
    background-image: url("images/CiHomeX.svg");
}
.no-experience-before-icon {
    background-image: url("images/MingcuteBuilding5Line.svg");
}
.no-knowledge-icon {
    background-image: url("images/CiSettings.svg");
}
.not-much-money-icon {
    background-image: url("images/MingcuteCurrencyDollarLine.svg");
}
.course-main-objections-content div h3 {
    padding-top: 12px;
    font-size: var(--small-font);
}
.course-main-objections-content div p {
    padding: 12px 0 12px 0;
    font-size: 1.8rem;
    text-align: left;
}
/* mobile course video */
.course-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}
.course-video .youtube-video{
    width: 288px;
    height: 162px;
    margin-top: 28px;
}
.course-video-pleasure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-self: center;
    gap: 24px;
    margin-top: 40px;
    width: 80%;
}
.course-pleasures-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.course-pleasures-container h3{
    margin-top: 20px;
    font-size: var(--small-font);
    text-align: center;
}
.course-pleasures-container p{
    margin: 20px 0;
    font-size: 1.8rem;
}
/* mobile attention please */
.attention-please {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--black);
}
.attention-please-title {
    display: flex;
    align-items: center;
    justify-content: center;
}
.attention-please h3 {
    font-size: 3rem;
    color: var(--primary-color);
}
.attention-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url("images/MaterialSymbolsWarningOutlineRounded.svg");
}
.attention-ideal-student {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5;
}
.attention-ideal-student p:first-child {
    margin-bottom: 14px;
}
.attention-ideal-student ul {
    margin: 0 auto 20px auto;
    list-style: none;
}
.attention-ideal-student .Not-for-u-icon {
    margin-right: 12px;
    font-weight: bold;
}
.attention-ideal-student ul li {
    font-size: 1.5rem;
    text-align: left;
}
/* mobile course content */ 
.course-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: var(--black);
}
.course-content-container {
    display: grid;
    gap: 20px;
    width: 80%;
    height: auto;
}
.course-content-container h2 {
    padding: 28px 0;
    font-size: 2.6rem;
    text-align: center;
}
.content-module-container {
    color: var(--black);
}
.content-module-container .module-name {
    padding: 12px;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--white);
}
.content-module-container .module-name span {
    margin: 0 1rem;
}
.content-module-container .module-details {
    padding: 20px 0;
    font-size: 1.7rem;
    background-color: #e5e5e5;
}
.module-details-closed {
    display: none;
}
.module-details p {
    padding-left: 40px;
    font-weight: bold;
    padding-bottom: 8px;
}
.module-details ol {
    padding-left: 60px;
}
@media (min-width: 433px) {
    nav p {
        font-size: var(--small-font);
    }
    .hero-background-image {
        height: 800px;
    }
    .hero-background-color div {
        width: 90%;
        margin-top: 60px;
    }
    .hero-background-color div a {
        width: 330px;
    }
    .hero-background-color img {
        width: 150px;
        height: 150px;
    }
    h1 {    
        font-size: var(--medium-font);
    }
    .course-main-objections-title h2 {
        font-size: 6rem;
    }
    .course-video .youtube-video{
        width: 384px;
        height: 216px;
    }
    .attention-please h3 {
        font-size: 4rem;
        color: var(--primary-color);
    }
    .attention-icon {
        width: 150px;
        height: 150px;
    }
    .attention-ideal-student {
        width: 80%;
        font-size: 2.3rem;
    }
    .attention-ideal-student ul li {
    font-size: 1.8rem;
    }
    /* mobile course content */ 
    .course-content-container {
        width: 80%;
        height: 80%;
    }
    .course-content-container h2 {
        font-size: 3.5rem;
        text-align: center;
    }
    .content-module-container .module-name {
        padding: 12px;
        font-size: 2.5rem;
    }
    .content-module-container .module-details {
        padding: 20px 0;
        font-size: 2rem;
    }
    .module-details p {
        padding: 0 0 8px 60px;
    }
    .module-details ol {
        padding-left: 80px;
    }
}
@media (min-width: 880px) {
    nav {
        height: 60px;
    }
    nav a {
        flex-direction: row;
    }
    nav .span-arrow {
        display: block;
        width: 18px;
        height: 22px;
        margin-left: 8px;
        background-image: url("images/CiArrowRightMd.svg");
    }
    nav a:hover .span-arrow {
        background-image: url("images/CiArrowRightLg.svg");
    }
    .course-main-objections-title h2 {
        font-size: var(--extra-large-font);
    }
    .course-video .youtube-video{
        width: 854px;
        height: 480px;
    }
    .attention-ideal-student {
        font-size: 3rem;
    }
    .attention-ideal-student ul li {
    font-size: 2rem;
    }
    /* mobile course content */ 
    .course-content-container {
        width: 80%;
        height: 80%;
    }
    h1 {    
        font-size: 5rem;
        line-height: 1.3;
    }
@media (min-width: 1024px) {
    .hero-background-image {
        background-image: url('images/hero.jpg');
    }
    .hero-background-color div {
        width: 69%;
    }
    .hero-background-color div a {
        width: 330px;
        font-size: 2.3rem;
    }    
}
}